 p{
  font-family: Lato;
}

.box {
  width: 50px;
  height: 40px;
  padding: 10px 20px;
  margin: 20px;
  border: 2px solid black;
}

.red-border{
  border: 2px solid red;
}

.yellow-background{
  background: yellow;
}
